{% extends 'base0.html' %} {% load static %} {% block title %}{{user.username}}
{% endblock title %} {% block scripts %}
<script>
  /*javascript function for calling Jquery chart function starts here*/
  function openNav0(chrtType = "radar") {
    /*javascript function for calling Jquery chart function ends here here*/
    /*Jquery function for charts begin here*/

    $(document).ready(function () {
      var ctx = document.getElementById("myChart2").getContext("2d");
      var myChart2 = new Chart(ctx, {
        type: chrtType,
        data: {
          labels: ["A", "B", "C", "Fail"],
          datasets: [
            {
              label: "Semester 1 Module Grade passes",
              data: [18, 33, 37, 12],

              backgroundColor: [
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 206, 86, 0.2)",
              ],
              borderColor: [
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
              ],
              borderWidth: 1,
            },
            {
              label: "Semester 2 Module Grade passes",
              data: [15, 45, 30, 10],

              backgroundColor: [
                "rgba(153, 102, 255, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(153, 102, 255, 0.2)",
              ],
              borderColor: [
                "rgba(153, 102, 255,1)",
                "rgba(153, 102, 255,1)",
                "rgba(153, 102, 255,1)",
                "rgba(153, 102, 255,1)",
                "rgba(153, 102, 255,1)",
                "rgba(153, 102, 255,1)",
                "rgba(153, 102, 255,1)",
                "rgba(153, 102, 255,1)",
                "rgba(153, 102, 255,1)",
                "rgba(153, 102, 255,1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  }

  /* openNav1 begins just after here */
  function openNav1(chrtType = "pie") {
    $(document).ready(function () {
      var ctx = document.getElementById("myChart").getContext("2d");
      var myChart = new Chart(ctx, {
        type: chrtType,
        data: {
          labels: [
            "John Adams",
            "Mary Vesper",
            "Maxwell Jones",
            "Nick Andrews",
            "Sarah paltrow",
            "Taylor witfield",
            "Arnold Kowalsky",
            "Ahmed chandra",
            "Rojay Ricketts",
            "Ananda sykes",
          ],
          datasets: [
            {
              label: "Test 1",
              data: {{ Qs }},//[82, 50, 93, 85, 22, 75, 29, 97, 79, 90],

              backgroundColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255,0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderWidth: 1,
            },
            {
              label: "Test 2",
              data: [42, 70, 63, 95, 81, 70, 57, 93, 49, 74],

              backgroundColor: [
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 206, 86, 1)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255,1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      /*  leave this */
    });
  }

  function openNav2() {
    $(document).ready(function () {
      var ctx = document.getElementById("mixedChart").getContext("2d");
      var mixedChart = new Chart(ctx, {
        type: "bar",
        data: {
          datasets: [
            {
              label: "module passes for last three semesters:bar chart view ",
              data: [78, 68, 90],

              backgroundColor: [
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
            {
              label: "module passes for last three semesters: line chart view ",
              data: [78, 68, 90],

              // Changes this dataset to become a line
              type: "line",

              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
          ],
          labels: ["semester1", "semester2", "semester3"],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  }

  function openNav3() {
    /*javascript function for calling Jquery chart function ends here here*/
    /*Jquery function for charts begin here*/
    $(document).ready(function () {
      var ctx = document.getElementById("myChart3").getContext("2d");
      var myChart3 = new Chart(ctx, {
        type: "line",
        data: {
          datasets: [
            {
              label: "Academic Ward: Racquel Powell ",
              data: [3.8, 3.5, 3.47, 3.29],

              backgroundColor: [
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
            {
              label: "Academic Ward: Nathan Maxfield",
              data: [3.6, 3.6, 3.8, 3.2, 3.3, 3.5, 3.67],

              // Changes this dataset to become a line
              type: "line",

              backgroundColor: [
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
            {
              label: "Probation Watch",
              data: [2, 2, 2, 2, 2, 2, 2, 2],

              // Changes this dataset to become a line
              type: "line",

              borderColor: ["rgba(255, 99, 132, 1)"],
              borderWidth: 2,
            },
            {
              label: "Academic Ward: Natasha Simpson",
              data: [3.9, 3.87, 3.95],

              // Changes this dataset to become a line
              type: "line",

              backgroundColor: ["rgba(153, 102, 255,0.2)"],
              borderColor: ["rgba(153, 102, 255,1)"],
              borderWidth: 1,
            },
            {
              label: "Award criteria",
              data: [3.5, 3.5, 3.5, 3.5, 3.5, 3.5, 3.5, 3.5],

              // Changes this dataset to become a line
              type: "line",

              borderColor: ["rgba(75, 192, 192, 1)"],
              borderWidth: 2,
            },
          ],
          labels: [
            "semester1",
            "semester2",
            "semester3",
            "semester4",
            "semester5",
            "semester6",
            "semester7",
            "semester8",
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  }

  function closeNav() {
    location.reload();
  }

  function def() {
    alert(
      "Community Service, " + " Environmental Science, " + " Computer Networks"
    );
  }

  openNav1("horizontalBar");
</script>

{% endblock scripts %} {% block content %}

<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">
      MORE
      <i class="fa fa-caret-down"></i>
    </button>

    <div class="dropdown-content">
      <a href="javascript:void(0)" onclick="openNav1('horizontalBar')"
        >Module_Assesments_Comparision_Chart
      </a>
      <a href="javascript:void(0)">Sample_Module_Chart_Options</a>
      <ul>
        <li>
          <a href="javascript:void(0)" onclick="openNav0('radar')"
            >Radar_Chart:Previous_Module_Stats</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" onclick="openNav2()"
            >Mixed_Chart:Module_Performance_by_Semester</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" onclick="openNav3()"
            >Line_Chart_Wth_Criteria_Lines:Academic_Advisor_View</a
          >
        </li>
      </ul>
      <a href="javascript:void(0)" onclick="closeNav()">Main DashBoard view</a>
      <a href="accounts/logout">logout</a>
    </div>
  </div>
</div>

<div class="mainbox">
  <canvas id="myChart" width="5" height="2.5"></canvas>
</div>

<div class="mainbox">
  <canvas id="myChart2" width="5" height="2.5"></canvas>
</div>

<div class="mainbox">
  <canvas id="mixedChart" width="5" height="2.5"></canvas>
</div>

<div class="mainbox">
  <canvas id="myChart3" width="5" height="2.5"></canvas>
</div>

<button onclick="sumInput()">Best possible grade outcome</button>

{% endblock content %}
